<header>
  <div class="header-content">
    <div class="logo">
      <a routerLink="/">VITÓRIA.BOIN<span class="cursor">_</span></a>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a></li>
        <li><a routerLink="/projects" routerLinkActive="active">PROJETOS</a></li>
        <li><a routerLink="/certificates" routerLinkActive="active">CERTIFICADOS</a></li>
        <li><a routerLink="/about" routerLinkActive="active">SOBRE</a></li>
      </ul>
    </nav>
  </div>
</header>