<header>
  <div class="header-content">
    <div class="logo">
      <a routerLink="/" class="logo-link">
        <img src="assets/images/sapo.webp" alt="Logo" class="logo-img">
        <span class="logo-text">VITORIA.BOIN<span class="blink">_</span></span>
      </a>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a></li>
        <li><a routerLink="/projects" routerLinkActive="active">PROJETOS</a></li>
        <li><a routerLink="/certificates" routerLinkActive="active">CERTIFICADOS</a></li>
        <li><a routerLink="/about-me" routerLinkActive="active">SOBRE MIM</a></li>
      </ul>
    </nav>
  </div>
</header>