<div class="body">
  <section class="home-container">
    <p  style="color: #00E5FF;"> // Estudante de Ciência da Computação</p>
    <br/>
    <h1>Vitória de <br> Lima Boin</h1>
    <p class="sub-brief"  style="color: #00E5FF;">Estagiária na F1rst Digital Services</p>
  </section>

  <div class="summary-wrapper">
    
    <section class="preview-section">
      <div class="header-preview">
        <span class="label">_SOBRE MIM</span>
        <a routerLink="/about-me">LEIA MAIS +</a>
      </div>
      <p>Desenvolvedora com foco em Angular e PowerPlatform.</p>
    </section>

    <section class="preview-section">
      <div class="header-preview">
        <span class="label">_PROJETOS</span>
        <a routerLink="/projects">VER TODOS +</a>
      </div>
      <div class="mini-grid">
        <div class="mini-card">
          <h3>SorrisoVida</h3>
          <p>Clínica Odontológica.</p>
        </div>
      </div>
    </section>

    <section class="preview-section">
      <div class="header-preview">
        <span class="label">_CERTIFICADOS</span>
        <a routerLink="/certificates">VER TODOS +</a>
      </div>
      <ul class="simple-list">
        <li><span>2025</span> Quality Assurance: Plano de Testes</li>
        <li><span>2025</span> Engenharia de Software</li>
      </ul>
    </section>

  </div>
</div>