<section class="page-container about-wrapper">
  <div class="text-content">
    <h2 class="section-label">// SOBRE_MIM</h2>
    <p class="highlight">Estudante de Ciência da Computação na UNICID e Estagiária na F1rst Digital Services.</p>
    <p>Minha jornada é focada em construir soluções que unem design rítmico e código eficiente. Tenho experiência com Angular, automação de processos e análise de dados.</p>
  </div>
  
  <div class="tech-info">
    <div class="info-item">
      <span>LOCALIZAÇÃO</span>
      <p>São Paulo, BR</p>
    </div>
    <div class="info-item">
      <span>FOCO ATUAL</span>
      <p>Análise e Engenharia de Dados & Power Platform</p>
    </div>
  </div>
</section>